.PC-session-detail-slot {
    display: block;
    font-size: $h4-font-size;

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
    }
}

.PC-session-detail-slot-item {
    font-weight: $font-weight-semibold;

    @include media-breakpoint-up(md) {
        &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: calc(var(--bs-body-line-height) * 1em);
            width: 2px;
            background-color: $secondary;
            margin: 0 map-get($spacers, 3);
        }

        &:last-child::after {
            display: none;
        }
    }
}

.PC-session-detail-prerequisites {
    @extend .border;
    @extend .border-black;
    @extend .shadow ;
    @extend .border-2;
    @extend .rounded ;
    @extend .p-4;

    //break-before: column;

    h2 {
        margin-top: map-get($spacers, 2);
    }

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    * {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}
