.PC-sponsors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;

    gap: 1.5*$grid-gutter-width;

    @include media-breakpoint-up(sm) {
        gap: 2*$grid-gutter-width;
    }

    @include media-breakpoint-up(xl) {
        row-gap: 3*$grid-gutter-width;
        column-gap: 2.5*$grid-gutter-width;
    }
}

.PC-sponsors-item {
    width: auto;
    flex: 0 1 auto;
    min-width: 7.5rem;
    max-width: 100%;
    display: block;
    text-align: center;
    font-weight: $font-weight-bold;
}

.PC-sponsors-item-platinum {
    flex-basis: 100%;
    max-width: 36rem;

    .PC-sponsors-frame & {
        max-width: 54rem;
    }

    .PC-sponsors-image {
        max-height: 10rem;
    }
}

//.PC-sponsors-item-gold {
.PC-sponsors-item-silver {
    flex-basis: 80%;
    max-width: 22rem;

    .PC-sponsors-frame & {
        max-width: 33rem;
    }

    .PC-sponsors-image {
        max-height: 5rem;
    }
}

//.PC-sponsors-item-silver {
.PC-sponsors-item-bronze {
    flex-basis: 70%;
    max-height: 7rem;

    @include media-breakpoint-up(xs) {
        max-width: 15rem;
    }

    .PC-sponsors-frame & {
        max-width: 22rem;
    }

    .PC-sponsors-image {
        max-height: 4.5rem;
    }


}

/*.PC-sponsors-item-bronze {
    flex-basis: 60%;

    @include media-breakpoint-up(xs) {
        max-width: 12rem;
    }

    .PC-sponsors-frame & {
        max-width: 18rem;
    }
    .PC-sponsors-image {
        max-height: 4rem;
    }

}*/

.PC-sponsors-item-media,
.PC-sponsors-item-partners {
    flex-basis: 50%;
    max-height: 5rem;
    max-width: 10rem;

    .PC-sponsors-frame & {
        max-width: 15rem;
    }

    .PC-sponsors-image {
        max-height: 4rem;
    }

}
