.PC-intermission {
    width: 100vw;
    height: 100vh;
}

.PC-intermission-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5.5rem;
    /* Do not use lower 20% of the projection */
    padding-bottom: 25vh;
    /* Add light glow that helps with contrast */
    text-shadow: 0 0 12px rgba(12, 16, 112, 0.8);
}

.PC-intermission-no-shadow {
    text-shadow: none;
}

.PC-intermission-heading-1,
.PC-intermission-heading-2,
.PC-intermission-heading-3 {
    font-family: $font-family-base !important;
    font-weight: 800;
}

.PC-intermission-heading-1 {
    font-size: 8rem;
}

.PC-intermission-heading-2 {
    font-size: 4.5rem;
}

.PC-intermission-heading-3 {
    font-size: 3.9rem;
}

.PC-intermission-heading-4 {
    font-size: 2.5rem;
}

.PC-intermission-slots {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: max-content;
    grid-auto-columns: minmax(0, 1fr);
    flex-grow: 1;
    column-gap: 8rem;
    row-gap: 1rem;
}

.PC-intermission-slots-item {
}

.PC-intermission-session-spacetime {
    font-size: 3.4rem;
}

.PC-intermission-session-speakers {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

.PC-intermission-session-speakers-item {
    width: 12rem;
}

.PC-intermission-session-speakers-item-large {
    width: 18rem;
}

.PC-intermission-sponsors-levels-grid {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    flex-grow: 1;
    column-gap: 4rem;
}

.PC-intermission-sponsors-levels-item {
}

.PC-intermission-sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8rem;
    row-gap: 6rem;
}

.PC-intermission-sponsors-item {
    height: 200px;
    width: 400px;
    display: grid;
    place-items: center;
}

.PC-intermission-sponsors-item-platinum {
    height: 350px;
    width: 500px;
}

.PC-intermission-sponsors-item-coffee, .PC-intermission-sponsors-item-afterparty {
    width: 600px;
}

.PC-intermission-sponsor-logo {
    max-height: 150px;
}

.PC-intermission-sponsor-logo-coffee, .PC-intermission-sponsor-logo-afterparty {
    max-height: 120px;
}

.PC-intermission-sponsor-logo-platinum {
    max-height: 250px;
}

.PC-intermission-announcement {
    border-bottom: 6px solid rgba(255, 255, 255, 0.5);
}

.PC-intermission-announcement:last-child {
    border-bottom: none;
}
