# fly.toml app configuration file generated for pycon-cz-beta on 2023-05-06T11:54:53+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "pycon-cz-beta"
primary_region = "ams"

[deploy]
  release_command = "bash -c \"python manage.py migrate && python manage.py collectstatic --noinput\""

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true

[[statics]]
  guest_path = "/code/static"
  url_prefix = "/static/"

[mounts]
  source="django_images_data"
  destination="/code/data"

[regions]
allow = ["ams"]

