/* Base styles */
body {
    margin: 0;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0 0 0.5rem;
}

h2 {
    margin: 2.5rem 0 1rem;
}

h1 + h2 {
    margin-top: 0;
}

p {
    margin: 0 0 1rem;
}

.text-center {
    text-align: center;
}

/* Layout */

.landing-page-body {
    background-color: #2E451C;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Header */

.top-header {
    padding: 32px 24px;
    text-align: center;
    background: linear-gradient(to bottom, #223816, #2E451C);
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}


/* Main content */

.main-content {
    flex-grow: 1;
    padding-bottom: 64px;
}

@media (min-width: 768px) {
    .main-content {
        padding-bottom: 96px;
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

@media (min-width: 480px) {
    .social-icons {
        flex-direction: row;
    }
}

.social-icons-item {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    min-width: 96px;
}

.social-icon {
    height: 64px;
    fill: rgba(255, 255, 255, 0.7);
}

.social-icons-item:hover .social-icon {
    fill: #fff;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3e5924;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease;
    border: 2px solid #000d07;
    box-shadow: 0 .375rem 0 #000;
}

.button:hover {
    background-color: #4f732a;
}

/* Footer */
.footer {
    background-color: #000;
    color: #f8f9fa;
    padding: 3rem 0 1rem;
}

.footer a {
    color: #f8f9fa;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.footer-column {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .footer-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .footer-nav {
        flex-direction: column;
    }
}

.footer-nav a {
    display: block;
    padding: 0.5rem 1rem;
}

.footer-years {
    text-transform: uppercase;
}

.footer-social {
    margin-bottom: 1rem;
}

.footer-contact {
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-legal {
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 992px) {
    .footer-legal {
        text-align: center;
    }
}
