{% load static %}

<section id="keynoters" class="PC-bg-blurry mt-4 py-4 py-md-5">
    <div class="container-xs">
        <h2 class="text-white mt-4 mb-5 h1">Keynote speakers</h2>

        <div>
            <article class="PC-speaker border border-black shadow mb-5 border-2 rounded">
                <div class="row g-0">
                    <div class="col-12 col-md-6 col-lg-5 px-0 position-relative">
                        <div class="PC-image-primary PC-image-cover">
                            <img class="img-fluid" src="{% static 'img/speakers/evelina-gabasova.webp' %}" width="800" height="800" alt="">
                        </div>
                    </div>
                    <div class="col px-3 px-xxs-4 px-sm-5 pb-xs-4 pt-2 pt-xl-3">
                        <h3 class="h1 mt-3 mt-sm-4">Evelina Gabašová</h3>
                        <ul class="list-inline font-monospace">
                            <li class="list-inline-item"><a href="https://github.com/evelinag"><i class="bi-github link-primary me-2"></i>evelinag</a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/evelgab"><i class="bi-twitter link-primary me-2"></i>evelgab</a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/egabasova/"><i class="bi-linkedin link-primary me-2"></i>LinkedIn</a></li>
                            {# <li class="list-inline-item"><a href="https://evelinag.com/"><i class="bi-globe link-primary me-2"></i>evelinag.com</a></li> #}
                        </ul>
                        <p>Evelina Gabašová is a Principal Research Data Scientist at <a href="https://www.turing.ac.uk">The Alan Turing Institute</a>, the UK’s national institute for AI and data science. As a member of the leadership team of the Research Engineering Group, her focus is on bridging the gap between cutting-edge AI research and its real‑world applications. Additionally, she serves as a Vice‑President of the Society of Research Software Engineering in the UK.</p>
                        <p>Evelina has been an active member of open source and open science communities, championing openness and co‑creation to enable collaborative AI research.</p>
                    </div>
                </div>
            </article>

            <article class="PC-speaker border border-black shadow mb-5 border-2 rounded">
                <div class="row g-0">
                    <div class="col-12 col-md-6 col-lg-5 position-relative">
                        <div class="PC-image-primary PC-image-cover">
                            <img class="img-fluid" src="{% static 'img/speakers/prokop-bartonicek.webp' %}" width="800" height="800" alt="">
                        </div>
                    </div>
                    <div class="col px-3 px-xxs-4 px-sm-5 pb-xs-4 pt-2 pt-xl-3">
                        <h3 class="h1 mt-3 mt-sm-4">Prokop Bartoníček</h3>
                        <ul class="list-inline font-monospace">
                            <li class="list-inline-item"><a href="https://www.prokopbartonicek.com"><i class="bi-globe link-primary me-2"></i>prokopbartonicek.com</a></li>
                        </ul>
                        <p>Prokop Bartoníček is a part of the new generation of contemporary artists who integrate the latest technological innovations into their work. Unlike many of his peers, he stays connected to the human experience, avoiding the allure of virtual reality.</p>
                        <p>Through his art, he invites us to contemplate the laws and mysteries that shape our civilization and the cosmos.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 position-relative">
                        <div class="PC-image-primary PC-image-cover">
                            <img class="img-fluid" src="{% static 'img/speakers/tomislav-arnaudov.webp' %}" width="800" height="800" alt="">
                        </div>
                    </div>
                    <div class="col px-3 px-xxs-4 px-sm-5 pb-xs-4 pt-2 pt-xl-3">
                        <h3 class="h1 mt-3 mt-sm-4">Tomislav Arnaudov</h3>
                        <ul class="list-inline font-monospace">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/tomislav-arnaudov-884a0a23"><i class="bi-linkedin link-primary me-2"></i>LinkedIn</a></li>
                        </ul>
                        <p>Tomislav Arnaudov is a passionate tech enthusiast, hacker, and maker. As a former member of Prague hackerspace Brmlab, he honed his skills and explored his love for technology.</p>
                        <p>He works as a technology consultant, lending his expertise to artists and large companies. He is currently leading the department at Prusa Research, where his team focuses on automating 3D printing processes.</p>
                    </div>
                </div>
            </article>

            <article class="PC-speaker border border-black shadow mb-5 border-2 rounded">
                <div class="row g-0">
                    <div class="col-12 col-md-6 col-lg-5 position-relative">
                        <div class="PC-image-primary PC-image-cover">
                            <img class="img-fluid" src="{% static 'img/speakers/karel-minarik.webp' %}" width="800" height="800" alt="">
                        </div>
                    </div>
                    <div class="col px-3 px-xxs-4 px-sm-5 pb-xs-4 pt-2 pt-xl-3">
                        <h3 class="h1 mt-3 mt-sm-4">Karel Minařík</h3>
                        <ul class="list-inline font-monospace">
                            <li class="list-inline-item"><a href="https://github.com/karmi"><i class="bi-github link-primary me-2"></i>karmi</a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/karmiq"><i class="bi-twitter link-primary me-2"></i>karmiq</a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/karelminarik/"><i class="bi-linkedin link-primary me-2"></i>LinkedIn</a></li>
                            <li class="list-inline-item"><a href="https://karmi.cz/"><i class="bi-globe link-primary me-2"></i>karmi.cz</a></li>
                        </ul>
                        <p>Karel Minařík is a software developer with a focus on system architectures, web APIs, interactive applications, and data visualization.</p>
                        <p>For almost a decade, he has been working at <a href="https://www.elastic.co/">Elastic</a>, writing Ruby and Go code for libraries and internal applications. Until last year, he had been helping with the digital transformation in the Czech Republic as part of the <a href="https://cesko.digital/">Česko.Digital</a> team.</p>
                    </div>
                </div>
            </article>

            <article class="PC-speaker border border-black shadow mb-5 border-2 rounded">
                <div class="row g-0">
                    <div class="col-12 col-md-6 col-lg-5 position-relative">
                        <div class="PC-image-primary PC-image-cover">
                            <img class="img-fluid" src="{% static 'img/speakers/katerina-falk.webp' %}" width="800" height="800" alt="">
                        </div>
                    </div>
                    <div class="col px-3 px-xxs-4 px-sm-5 pb-xs-4 pt-2 pt-xl-3">
                        <h3 class="h1 mt-3 mt-sm-4">Kateřina Falk</h3>
                        <ul class="list-inline font-monospace">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/katerina-falk-a450147/"><i class="bi-linkedin link-primary me-2"></i>LinkedIn</a></li>
                        </ul>
                        <p>Kateřina Falk is a plasma physicist focused on research in fusion energy and laboratory astrophysics.</p>
                        <p>She studied at the Imperial College London and the University of Oxford. She previously worked at the Los Alamos National Laboratory, and the Czech Academy of Sciences and currently leads a research group at the Helmholz‑Zentrum Dresden‑Rossendorf and holds a lecturer position at the Technical University in Dresden, Germany.</p>
                    </div>
                </div>
            </article>
        </div>

        <p class="text-center h3 text-white">
            Check the rest of
            <a class="link-light" href="{% url 'program:talks_list' %}">talks</a>
            and
            <a class="link-light" href="{% url 'program:workshops_list' %}">workshops</a>.
        </p>

        {% comment %}
            {% for keynoter in keynoters %}
                {% include 'program/__keynoter_card.html' with speaker=keynoter %}
            {% endfor %}
            {% if phases.talks != 'not_public' or phases.workshops != 'not_public' %}
                <p class="text-center lead">
                    Check the rest of
                    {% if phases.talks != 'not_public' %}
                        <a href="{% url 'talks_list' %}">talks</a>{% if phases.workshops != 'not_public' %},
                    {% endif %}
                    {% endif %}
                    {% if phases.workshops != 'not_public' %}
                        <a href="{% url 'workshops_list' %}">workshops &amp; sprints</a>
                    {% endif %}
                </p>
            {% endif %}
        {% endcomment %}
    </div>
</section>
