{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Board Game Night{{ block.super }}{% endblock %}


{% block main %}
    <div class="container-xs pt-4 pb-3 mt-3">
        <h1>Board Game Night</h1>
        <div class="row">
            <div class="col-md-7">
                <p class="lead">Board Game Night starts on Friday right after Lightning talks end {% comment %}in the  Main room{% endcomment %} at 19:10.</p>
                <p>No registration is required.</p>


                <h2>Rules of Board Game Night</h2>
                <ol>
                    <li>You do talk about Board Game Night.</li>
                    <li>You <strong class="text-uppercase">do</strong> talk about Board Game Night.</li>
                    <li>Anyone can play.</li>
                    <li>Shirts all time, shoes optional.</li>
                    <li>Games will go on as long as they have to or until 1 am.</li>
                    <li>If this is your first night at Board Game Night, you <strong class="text-uppercase">have</strong> to play. (Unless you don’t want to.)</li>
                    <li>You can bring your own board games.</li>
                    <li>PyCon CZ <a href="{% url 'coc' %}">Code of Conduct</a> applies to Board Game Night.</li>
                </ol>

                <h2>Also good to know</h2>
                <ul>
                    <li>We will bring some games, but you’re welcome to bring your own as well!</li>
                    <li>We can safely store your games during the day, just ask at the registration desk.</li>
                    <li>While English or language-less games are preferred, there will probably be enough Czechs and Slovaks to play Czech games with.</li>
                    <li>Free food for every player!</li>
                    <li>You can buy soft drinks, wine and beer (including non-alcoholic) at the bar at the venue.</li>
                    <li>If board games are not your thing, you are also welcome, just to chat or hack.</li>
                    <li>Musical instruments are also fine, as long as you are not disturbing others (you can always play outside or in another room).</li>
                    <li><strong class="text-primary">Only for PyCon CZ attendees.</strong></li>
                </ul>

                <h2>What we’re bringing</h2>
                <p>We’ll share some of our favorites with you!</p>
                <p>If you play a borrowed game, please don’t bring any food or drinks to the table (except closed water bottles).</p>
                <ul>
                    <li>Azul</li>
                    <li>7 Wonders</li>
                    <li>Cascadia</li>
                    <li>Chess</li>
                    <li>Hanabi</li>
                    <li>Catch the lion</li>
                    <li>Splendor</li>
                    <li>Mango speed</li>
                    <li>Žolíky</li>
                    <li>Radlans</li>
                    <li>Prší</li>
                    <li>Doba kamenná</li>
                    <li>Doomlings</li>
                    <li>Kámen zbraně papír</li>
                    <li>San Juan</li>
                    <li>Ramses</li>
                    <li>Bang</li>
                    <li>Duel arcanum</li>

                    <!-- Petr's games -->
                    <li>Ares Expedition</li>
                    <li>Cartographers</li>
                    <li>Dracula's Feast</li>
                    <li>Exploding Kittens</li>
                    <!-- <li>Hanabi</li> -->
                    <li>Hardback</li>
                    <li>Machi Koro</li>
                    <li>Monty Python Fluxx</li>
                    <li>Pandemic</li>
                    <li>Patchwork</li>
                    <li>Project L</li>
                    <li>Rallyman GT</li>
                    <li>Robo Rally</li>
                    <li>Sagrada</li>
                    <li>Tzolk'in</li>
                    <li>Village Pillage</li>
                    <li>Wingspan</li>

                    <li>And many more!</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
