{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Jak úspěšně přihlásit příspěvek na PyCon CZ 23 – {{ block.super }}{% endblock %}


{% block og_image %}{% static 'img/social-media/cfp-closed.min.jpg' %}{% endblock %}


{% block main %}
    <div class="container pt-4 pb-3 mt-3">
        <p><a href="{% url 'cfp_guide' %}">switch to english version</a></p>
        <h1>Jak úspěšně přihlásit příspěvek na PyCon CZ 23</h1>
        <div class="row">
            <div class="col-md-8">
                <p class="lead">
                    Chceme vás motivovat, abyste přihlásili svou přednášku nebo workshop na největší českou Python konferenci <strong>PyCon CZ 23</strong>. Ať jste zkušeným řečníkem nebo naopak nováčkem ve světě konferencí, tento průvodce vám pomůže vytvořit atraktivní přihlášku.
                </p>

                <h2>Obecné rady pro přednášky a workshopy</h2>
                <ol>
                    <li>Ukažte nám svůj jedinečný pohled: vaše zkušenosti a názory mají svoji cenu, ať už jste kdokoli a odkudkoli. Sdílejte své znalosti a myšlenky, i když se vám zdají obyčejné. Váš úhel pohledu bude pro někoho v publiku určitě zajímavý.</li>
                    <li>Začněte atraktivním názvem: vymyslete jasný a poutavý název, který odráží podstatu vaší prezentace. Vyhněte se příliš technickým termínům.</li>
                    <li>Zaměřte se na cíl: stanovte si účel vaší přednášky nebo workshopu. Co chcete, aby si účastníci z vaší prezentace odnesli? Buďte konkrétní a struční a vyjadřujte se jasně, aby diváci pochopili podstatu sdělení vašeho příspěvku.</li>
                    <li>Vytvořte zajímavý popis: napište stručný a poutavý abstrakt vaší přednášky nebo workshopu. Vymezte témata, která chcete pokrýt, a zdůrazněte klíčové poznatky, které účastníci získají. Uveďte praktické příklady a zkušenosti, které jim můžete předat.</li>
                    <li>Ukažte svoji dosavadní práci: přidejte odkazy na nahrávky vašich prezentací, články nebo jiný materiál.</li>
                </ol>

                <h2>Tipy pro přihlášení přednášek</h2>
                <ol>
                    <li>Sdílejte své znalosti i zápal pro věc: přeneste do své přednášky svoje nadšení a odborné znalosti. Vložte do přihlášky svou radost z příležitosti sdílet znalosti a zkušenosti s ostatními.</li>
                    <li>Struktura a plynulost: ujistěte se, že vaše přednáška má jasnou strukturu a že jednotlivé části na sebe
                        navazují. Rozdělte obsah na tyto části: nejdříve popište problém a proč je potřeba ho řešit pak představte řešení, jejich výhody i nevýhody. Tím usnadníte programové komisi pochopit vaši myšlenku.</li>
                    <li>Učte se od odborníků: prozkoumejte užitečné zdroje jako <a href="https://speaking.io/">speaking.io</a> a knihu <a href="https://www.goodreads.com/book/show/6918930-confessions-of-a-public-speaker">Confessions of a Public Speaker</a> pro další tipy, jak zlepšit své prezentační dovednosti.</li>
                </ol>

                <h2>Tipy pro přihlášení workshopů</h2>
                <ol>
                    <li>Nezapomeňte na interaktivitu: popište, jak do vašeho workshopu plánujete zapojit účastníky. Popište společné aktivity, live coding, skupinové diskuse nebo praktická cvičení, která workshop oživí a účastníky zaujmou.</li>
                    <li>Sepište podrobný plán: popište svůj workshop tak, aby bylo jasné, jaké znalosti a dovednosti účastníci získají.</li>
                    <li>Uveďte veškeré požadavky na účastníky: například co potřebují znát, zda si mají přinést nějaký hardware, třeba notebook nebo zda si mají předem nainstalovat nějaký software.</li>
                </ol>

                <h2>Požádejte o zpětnou vazbu</h2>
                <p>Zkuste získat zpětnou vazbu od kolegů, spolupracovníků nebo mentorů. Požádejte je, aby zhodnotili vaši přihlášku a poskytli vám konstruktivní kritiku. Vylepšete podle ní svoji přihlášku a nebojte se poslat nám svoje nápady. V přihlášce uveďte pravdivé údaje, buďte autentičtí a využijte příležitost obohatit naši konferenci. Pokud máte nějaké otázky, neváhejte se obrátit na <a href="mailto:info@pycon.cz">info@pycon.cz</a>.</p>

                {% if cfp == 'open' %}
                    <p>Nyní, když víte, jak na to, pokračujte a <a href="https://pretalx.com/pycon-cz-23/">odešlete svůj návrh na PyCon CZ 23</a>. Těšíme se na vaše příspěvky a na to, že vás přivítáme jako řečníky nebo vedoucí workshopů!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
