{% extends '_layout.html' %}



{% block meta_title %}Call for Proposals: A Guide to Successful Proposal Submissions – {{ block.super }}{% endblock %}


{% block og_image_slug %}cfp{% endblock %}


{% block main %}
    <p><a href="{% url 'cfp_pruvodce' %}">přepnout na českou verzi</a></p>
    <h1>
        Call for Proposals:
        <small class="d-block">A Guide to Successful Proposal Submissions</small>
    </h1>
    <div class="row">
        <div class="col-md-8">
            <p class="lead">
                Welcome to <strong>PyCon CZ 2023</strong>, the biggest and friendliest Python conference in the Czech Republic! We are excited to invite you to submit your proposal for a talk or workshop. Whether you are an experienced speaker or new to the conference scene, this guide will help you create a compelling submission.
            </p>

            <h2>General Advice for Talks and Workshops</h2>
            <ol>
                <li>Embrace your unique perspective: Your experiences and viewpoints matter, no matter where you come from. Share your knowledge and insights, even if they seem ordinary. Your contributions can be valuable to someone in the audience.</li>
                <li>Start with an engaging title: Create a clear and captivating title that reflects the essence of your presentation. Avoid overly technical terms and strive to grab attention.</li>
                <li>Focus on your goal: Clearly define the objective of your talk or workshop. What do you want participants to gain, learn, or take away? Be specific and concise to help potential attendees understand the value you will provide.</li>
                <li>Craft an intriguing description: Provide a brief and compelling overview of your talk or workshop. Outline the topics you will cover and highlight key takeaways that participants will gain. Include practical examples or applications to help them relate to your content.</li>
                <li>Showcase your past work: Consider adding links to any publicly recorded talks, published blog posts, or relevant materials that demonstrate your expertise and speaking ability.</li>
            </ol>

            <h2>Advice for Talk Submissions</h2>
            <ol>
                <li>Share your expertise and passion: Infuse your talk with your enthusiasm and subject matter expertise. Convey your excitement about the opportunity to share your knowledge and empower others. Your unique experiences give you valuable insights.</li>
                <li>Structure and flow: Ensure that your talk proposal has a logical structure and a smooth flow. Divide it into clear sections: introduction, main points, details, and conclusion. This will facilitate reviewers in following your intended progression.</li>
                <li>Learn from experts: Explore useful resources like <a href="https://speaking.io/">speaking.io</a> and the book <a href="https://www.goodreads.com/book/show/6918930-confessions-of-a-public-speaker">Confessions of a Public Speaker</a> for further guidance on improving your speaking skills.
                </li>
            </ol>

            <h2>Advice for Workshop Submissions</h2>
            <ol>
                <li>Incorporate interactivity: Describe how you plan to engage participants in your workshop. Explain interactive exercises, live coding, group discussions, or hands-on activities that will make the workshop dynamic and engaging.</li>
                <li>Provide a detailed plan: Create a comprehensive plan for your workshop, including thematic areas and skills that participants will acquire. Specify any requirements and the necessary materials or software.</li>
                <li>Specify any requirements the attendees should fulfill: previous knowledge, bring hardware (laptop) or install software beforehand.</li>
            </ol>

            <h2>Seek Feedback and Enjoy the Process</h2>
            <p>Don't hesitate to seek feedback from colleagues, collaborators, or mentors. Ask them to evaluate your submission and provide constructive criticism. Work on refining your proposal and present your best ideas. Be authentic, true to yourself, and embrace the opportunity to contribute to PyCon CZ 2023, the biggest and friendliest Python conference in the Czech Republic! If you have any question, please reach out to us at <a href="mailto:info@pycon.cz">info@pycon.cz</a>.</p>

            <p>Now that you know how, go ahead and <a href="https://pretalx.com/pycon-cz-23/">submit your proposal for PyCon CZ 2023</a>. We look forward to reviewing your submissions and welcoming you as a speaker or workshop facilitator!</p>
        </div>
    </div>
{% endblock %}
