{% extends "_layout.html" %}

{% load static %}



{% block header_action %}
    <a href="{% url 'cfp' %}" class="btn btn-primary btn-lg">Call for proposals is extended until 29 June!</a>
{% endblock %}


{% block header %}
    {{ block.super }}
    <section class="row row-gap-md-1 g-5 my-4 row-cols-1 row-cols-sm-2 row-cols-lg-4">
        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/bubble.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">2 days of talks in 3 tracks</h2>
                <p>Choose from 40+ talks in 3 parallel tracks during Friday and Saturday</p>
            </div>
        </article>

        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/computer.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">A day of workshops</h2>
                <p>Dive deeper at workshops and sprints on Sunday</p>
            </div>
        </article>

        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/beginner.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">Beginner’s track</h2>
                <p>Beginner-friendly talks and workshops for everyone who knows the basics of Python</p>
            </div>
        </article>

        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/pydata.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">PyData track</h2>
                <p>Aimed at developers and users of data tools in cooperation with PyData community</p>
            </div>
        </article>

        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/food.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">Food, coffee & tea</h2>
                <p>Food with vegan options, great coffee and a tearoom to keep you going</p>
            </div>
        </article>

        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/person.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">Board Game Night</h2>
                <p>Have fun with other attendees on Friday</p>
            </div>
        </article>

        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/heart.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">Afterparty</h2>
                <p>Meet old friends and make new ones at the afterparty on Saturday</p>
            </div>
        </article>

        <article class="col d-flex flex-sm-column flex-md-row flex-lg-column gap-3">
            <div>
                <img src="{% static 'img/icons/cubes.min.svg' %}" width="80" height="80" alt="">
            </div>
            <div>
                <h2 class="h4 mt-1">Childcare</h2>
                <p>Free childcare for your kids during all conference days right at the venue</p>
            </div>
        </article>

    </section>
{% endblock %}

{% block main %}

    <div class="row row-gap-3">

        <div class="col-lg">
            <div class="h-100 rounded-3 border border-black p-4">
                <h2 class="mt-0">More information coming soon</h2>
                <p>Do you want to be notified when more information (tickets go on sale, speakers are announced or talk and workshops details online) about PyCon CZ 23 will be available?</p>
                <p><a class="btn btn-secondary ps-3" href="https://eepurl.com/gOHNvP"> <img src="{% static 'img/icons/email.min.svg' %}" width="32" height="32" alt=""> Subscribe to our newsletter</a></p>
            </div>
        </div>
        <div class="col-lg">
            <div class="h-100 rounded-3 border border-primary bg-secondary-subtle p-4">
                <h2 class="mt-0">Sponsorship</h2>

                <div class="h-lg-100 d-flex flex-column flex-sm-row flex-lg-column column-gap-4 row-gap-3 align-items-end align-items-lg-start">
                    <p class="lead">
                        PyCon CZ relies on sponsors to keep ticket prices affordable.
                        <br>
                        If you would like to sponsor the conference please
                    </p>
                    <p><a class="btn btn-primary" href="{% url 'sponsorship' %}">check our sponsorship information</a></p>
                </div>
            </div>
        </div>
    </div>

    <h2>Organized by community for community</h2>
    <div class="row align-items-end">
        <div class="col-md-8 col-lg-6">
            <p class="lead">PyCon&nbsp;CZ is organized by volunteers from <a href="https://pyvec.org/">Czech Python community</a> for anyone interested in Python: professionals, novices, students and hobbyist Python programmers from Czechia and abroad.</p>
            <p>Watch a&nbsp;short video from the&nbsp;PyCon&nbsp;CZ 2019 or check talks from previous years on <a href="https://www.youtube.com/channel/UCRC2Vu7p4SJxhhuRdl8rQ6g">PyCon&nbsp;CZ YouTube channel</a>.</p>
        </div>
    </div>

    <div class="ratio ratio-16x9">
        <iframe width="960" height="407" src="https://www.youtube.com/embed/kL2gmhs0irI" allowfullscreen></iframe>
    </div>
{% endblock %}
