{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Venue – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container-xs py-4 mt-3">
        <div class="row">
            <h1>About Prague</h1>
            <p class="lead">
                Prague is the capital of the Czech Republic. Sitting on the Vltava River, the beautiful historic centre is a UNESCO world heritage site. There's a LOT to see, do and enjoy, in addition to the conference! 
            </p>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>How to get to Prague?</h2>
                <h3>Flight</h3>
                <p>Fly to PRG, Vaclav Havel Airport. To get to the city, use:</p>
                <li>Uber or Liftago</li>
                <li>Airport Express bus to the main railway station (50 CZK). It's fast and convenient. Be sure to have change, because unfortunately, the bus driver may not board you otherwise.</li>
                <li>Public transport buses to Zličín (yellow B metro line) or Nádraží Veleslavín (green A metro line) terminals.</li>

                <h3>Train</h3>
                <li>There are direct trains to Prague from many destinations all around Europe. Use the DB train search to see what's possible.</li>
                <li>The main train station is called "Praha hlavní nádraží" or "Praha hl. n.".</li>

                <h3>Bus</h3>
                <li>There are direct buses to Prague from many destinations all around Europe.</li>
                <li>Main carriers: RegioJet, LeoExpress, Tourbus, EuroLines, FlixBus.</li>
                <li>The main bus station is called "autobusové nádraží Florenc" or just "Florenc".</li>

                <h3>Car</h3>
                <li>Check out Czech driving regulations.</li>
                <li>Highway sticker costs 350 CZK (10 days) and can be bought at any gas station.</li>

                <h2>Safety</h2>
                <p>Prague is very safe comparing to other capital cities, however petty theft is a problem, especially in major tourist areas. Pickpocketing is common at busy places and on public transport.</p>

                <h2>Public transportation</h2>
                <p>Prague has an excellent [system of public transport](https://idos.idnes.cz/praha/spojeni/?lng=e), which includes three lines of metro trains, trams, buses and ferries. If you're into biking, check local bikesharing [Rekola](https://www.rekola.cz/en/). While [Uber](https://www.uber.com/cz/cs/) is available in Prague, the [Liftago](https://www.liftago.com/) app provides a very similar experience.</p>

                <p>With a Czech SIM card, you can use SMS tickets, otherwise you need to buy paper ones in yellow ticket machines. During the conference you should be okay with regular 30 min tickets for 24 CZK. Zone P includes everything you need, even the airport area.</p>
                
                <p>At night, there is a different, limited system of public transport and metro is completely out of order. The last train leaves just after midnight. Trams and buses operate through the whole night. Depending on your route, it still might be okay to take public transport, but calling Uber or Liftago is usually less tiring.</p>

                <h2>Honest Guide to Prague</h2>
                <p>When it comes to mainstream tourism, Prague can be full of traps. Watching the [Honest Guide](https://www.youtube.com/@HONESTGUIDE/videos) is not only the easiest way for you to avoid them and to get the most useful tips about just anything, but it's also fun to watch!</p>

                <h2>Sockets</h2>
                <p>the most common type of electrical outlet in the Czech Republic, where Prague is located, is the Type E plug (often referred to as the "French" plug). This plug has two round pins and a female contact for the grounding. The standard voltage in the Czech Republic is 230V, and the frequency is 50Hz.</p>

           
            </div>
        </div>
    </div>
{% endblock %}
