{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Venue – {{ block.super }}{% endblock %}


{% block main %}
<div class="container-xs py-4 mt-3">
    <div class="row">
        <h1>About Prague</h1>
        <p class="lead">
            Prague is the capital of the Czech Republic. The country’s official names are Czech Republic (Česká
            republika) and Czechia (Česko). A country named Czechoslovakia doesn’t exist anymore – it split up 30 years
            ago.
        </p>
        <p class="lead">Prague is known as the city of a hundred spires and it is one of the most visited cities in
            Europe. Sitting on the Vltava River, the beautiful historic centre is a UNESCO world heritage site. There's
            a LOT to see, do and enjoy, in addition to the conference!
        </p>
    </div>
    <div class="row">
        <div class="col-md">
            <h2>General information</h2>
            <h3>Money</h3>
            <p>We pay with CZK (“koruna”, also abbreviated Kč).
                The exchange rate is approximately 1 EUR = 24.5 CZK.
                Cards (mostly Visa and Mastercard) are accepted in chain stores, larger places, coffee places or pubs,
                but less often in smaller shops.
                It’s useful to carry some cash around.
                ATMs are omnipresent, but avoid Euronet because of their high fees. All ATMs operated by banks are ok.
                Money exchange booths sometimes offer smaller fees and better deals than banks, but some are tourist
                traps. Just make sure you're getting at least 24 CZK for 1 EUR.
                Czechia also has a law to protect you from scam exchange offices: you have 3 hours to revert the
                transaction and get your money back up to 1000 EUR. For this you need keep the bill.
            </p>

            <h3>Language</h3>
            <p>
                We speak Czech and generally understand Slovak perfectly.
                English should be well understood, especially among younger people.
                German or a Slavic language like Polish can work as a fallback.
            </p>

            <h3>Weather</h3>
            <p>
                Prague weather in September is mild with an average temperature of 21°C. At night, the weather cools to
                11°C, which is quite cold so don't forget to take a jacket out with you in the evening. You'll have
                eight hours of sunshine per day.
            </p>

            <h2>Arrival to Prague</h2>
            <h3>Flight</h3>
            <p>Fly to PRG, Vaclav Havel Airport. To get to the city, use:</p>
            <li>Uber or Liftago</li>
            <li>Public transport buses to Zličín (yellow B metro line) or Nádraží Veleslavín (green A metro line)
                terminals.</li>

            <h3>Train</h3>
            <li>There are direct trains to Prague from many destinations all around Europe. Use the <a
                    href="https://idos.idnes.cz/en/vlaky/spojeni/">DB train search</a> to see what's possible.</li>
            <li>The main train station is called "Praha hlavní nádraží" or "Praha hl. n.".</li>

            <h3>Bus</h3>
            <li>There are direct buses to Prague from many destinations all around Europe.</li>
            <li>Main carriers: RegioJet, LeoExpress, Tourbus, EuroLines, FlixBus.</li>
            <li>The main bus station is called "autobusové nádraží Florenc" or just "Florenc".</li>

            <h3>Car</h3>
            <li>Check out <a href="https://www.mzv.cz/file/4066992/Pravidla_Provozu_EN.pdf">Czech driving
                    regulations</a>.</li>
            <li>Highway sticker costs 310 CZK (10 days) and can be bought at any gas station or <a
                    href="https://edalnice.cz/en/single-purchase/index.html#/eshop/order">online</a>.</li>


            <h2>Travelling around Prague</h2>
            <p>Prague has an excellent <a href="https://idos.idnes.cz/en/praha/spojeni/?lang=e">system of public
                    transport</a>, which includes three lines of metro trains, trams, buses and ferries. If you're into
                biking, check local bikesharing <a href="https://www.rekola.cz/en/">Rekola</a>. While <a
                    href="https://www.uber.com/cz/en/">Uber</a> is available in Prague, the <a
                    href="https://www.liftago.com/">Liftago</a> app provides a very similar experience.</p>

            <p>With a Czech SIM card, you can use SMS tickets, otherwise you need to buy paper ones in yellow ticket
                machines. Zone P includes everything you need, even the airport area.</p>

            <p>At night, there is a different, limited system of public transport and metro is completely out of order.
                The last train leaves just after midnight. Trams and buses operate through the whole night. Depending on
                your route, it still might be okay to take public transport, but calling Uber or Liftago is usually less
                tiring.</p>

            <h2>Accommodation in Prague</h2>
            You can find a lot of possibilities on Booking.com and AirBnB.

            <h2>Honest Guide to Prague</h2>
            <p>When it comes to mainstream tourism, Prague can be full of traps. Watching the <a
                    href="https://www.youtube.com/@HONESTGUIDE/videos">Honest Guide</a> is not only the easiest way for
                you to avoid them and to get the most useful tips about just anything, but it's also fun to watch!</p>

            <h2>Safety</h2>
            <p>Prague is very safe comparing to other capital cities, however petty theft is a problem, especially in
                major tourist areas. Pickpocketing is common at busy places and on public transport.</p>

            <h2>Sockets</h2>
            <p>The most common type of electrical outlet in the Czech Republic, where Prague is located, is the <a
                    href="https://www.worldstandards.eu/electricity/plugs-and-sockets/e/">Type E plug</a> (often
                referred to as the "French" plug). This plug has two round pins and a contact for the grounding. The
                standard voltage in the Czech Republic is 230V, and the frequency is 50Hz.</p>


        </div>
    </div>
</div>
{% endblock %}