{% extends '_layout.html' %}


{% block meta_title %}Privacy Policy – {{ block.super }}{% endblock %}


{% block main %}
    <h1>Privacy Policy</h1>

    <div class="row">
        <div class="col-md-8">
            <section>
                <div class="alert alert-secondary">
                    Note: This is a layman’s translation provided for your convenience.
                    <br>Please see the <a href="#cs">Czech version</a> below for the full terms, and contact us if you have any questions.
                </div>

                <h2>Handling of personal information</h2>

                <p>You authorize <i>Pyvec, z.s., based in Drtinova 10/557 15000 Praha 5, IČO: 22746668, registered in the registry at the Municipal Court in Prague, section B, document 24180</i> (“Data Controller”) to handle the following personal information according to Czech law 101/2000 in connection with the conference “PyCon CZ” (“Event”) for the purposes and for the period of time specified below.</p>

                <p>You can revoke this agreement at any time by sending an e-mail or letter to the Data Controller.</p>

                <h3 class="pt-3 border-top">Newsletter</h3>
                <p>Subscribed via the website https://cz.pycon.org</p>

                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">data type</h4>
                        <p>E-mail address</p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">purpose</h4>
                        <p>sending newsletters with information about the Event (several times a year)</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">data retention</h4>
                        <p>
                            unlimited
                            <br>
                            <small>(one-click unsubscribe available)</small>
                        </p>
                    </div>
                </div>

                <h3 class="pt-3 border-top">Talk and workshop submissions</h3>
                <p>Using Call for Proposals (CfP) form</p>
                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">data types</h4>
                        <p>
                            Full name,
                            <br>any other information you voluntarily provide in the form
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">purpose</h4>
                        <p>evaluation and selection of talks and workshops for the Event</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">data retention</h4>
                        <p>until 1 Dec 2024</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">data types</h4>
                        <p>
                            E-mail address,
                            <br>Full name
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">purpose</h4>
                        <p>
                            sending information about selection outcome
                            <br>sending information about the possibilities of applying in the following years
                        </p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">data retention</h4>
                        <p>
                            unlimited
                            <br>
                            <small>(one-click unsubscribe available)</small>
                        </p>
                    </div>
                </div>

                <h3 class="pt-3 border-top">Financial Aid grant requests</h3>
                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">data types</h4>
                        <p>
                            E-mail address,
                            <br>Full name,
                            <br>any other information you voluntarily provide in the form
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">purpose</h4>
                        <p>evaluation of the eligibility for the grant</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">data retention</h4>
                        <p>until 1 Dec 2024</p>
                    </div>
                </div>

                <h3 class="pt-3 border-top">Účastníci Akce</h3>

                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">data types</h4>
                        <p>E-mail address, Full name, any other information you voluntarily provide when registering tickets for the Event</p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">purpose</h4>
                        <p>sending information about the event, printing conference badges, sending requests for feedback after the Event and anything else necessary for the organization of the Event</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">data retention</h4>
                        <p>until 1 Dec 2024</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">data types</h4>
                        <p>Photographs, video and audio recordings</p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">purpose</h4>
                        <p>Promotion of the Event on the website https://cz.pycon.org and in other media such as, but not limited to, https://youtube.com</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">data retention</h4>
                        <p>unlimited</p>
                    </div>
                </div>

                <p class="pt-3 border-top mb-1">The Data Controller handles the personal information. The information will also be processed by:</p>
                <ul>
                    <li>Google Ireland Ltd, Gordon House Barrow Street Dublin 4, D04E5W5 Ireland</li>
                    <li>YouTube, LLC 901 Cherry Ave. San Bruno, CA 94066 USA</li>
                    <li>Mailchimp (The Rocket Science Group, LLC 675 Ponce de Leon Ave NE Suite 5000 Atlanta, GA 30308 USA)</li>
                    <li>rixx.de software development (Tobias Kunze, Mühlenbecker Weg 1, 16515 Oranienburg, Germany)</li>
                </ul>


                <p class="mb-1">According to Czech law, you have the right to:</p>
                <ul>
                    <li>Revoke your agreement at any time</li>
                    <li>Demand information on which personal information about you we handle, and explanation about such handling</li>
                    <li>Demand access to this information and request that we correct or update it</li>
                    <li>Demand that we delete your personal information</li>
                    <li>In case of doubts about our handling of the data, contact us or the Czech Office for personal data protection (<a href="https://www.uoou.cz/en/" target="_blank" rel="noopener">https://www.uoou.cz/en/</a>)</li>
                </ul>
            </section>

            <section id="cs" lang="cs">
                <h2>Zpracování osobních údajů</h2>
                <p>Udělujete souhlas spolku <i>Pyvec z.s., se sídlem Drtinova 10/557 15000 Praha 5, IČO: 22746668, zapsanému v rejstříku vedeném u Městského soudu v Praze, oddíl B, vložka 24180</i> (dále jen „Správce“), aby ve smyslu zákona 101/2000 zpracovával následující osobní údaje v souvislosti s konferencí „PyCon CZ“ (dále Akce) k účelům a po dobu, která je uvedena dále.</p>

                <p>Souhlas lze vzít kdykoliv zpět, a to zasláním e-mailu nebo dopisu na kontaktní údaje Správce.</p>

                <h3 class="pt-3 border-top">Newsletter</h3>
                <p>Ke kterému se přihlašujete přes webové stránky https://cz.pycon.org</p>

                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">typ údaje</h4>
                        <p>e-mail</p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">účel</h4>
                        <p>zasílání novinek s informacemi o Akci (několikrát ročně)</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">doba zpracování</h4>
                        <p>
                            neomezeně
                            <br>
                            <small>(s možností odhlášení kliknutím)</small>
                        </p>
                    </div>
                </div>

                <h3 class="pt-3 border-top">Přihlašování přednášek a workshopů</h3>
                <p>Přes formulář „Call for Proposals (CfP)“</p>
                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">typy údajů</h4>
                        <p>
                            jméno a příjmení,
                            <br>jakékoli další údaje, které nám ve formuláři dobrovolně poskytnete
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">účel</h4>
                        <p>hodnocení a výběr přednášek a workshopů pro Akci</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">doba zpracování</h4>
                        <p>do 1. 12. 2024</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">typy údajů</h4>
                        <p>
                            e-mail,
                            <br>jméno a příjmení
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">účel</h4>
                        <p>
                            zaslání informací o výsledku výběru,
                            <br>zaslání informací o možnostech přihlášení v dalších ročnících Akce
                        </p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">doba zpracování</h4>
                        <p>
                            neomezeně
                            <br>
                            <small>(s možností odhlášení kliknutím)</small>
                        </p>

                    </div>
                </div>

                <h3 class="pt-3 border-top">Žádosti o grant „Financial Aid“</h3>
                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">typy údajů</h4>
                        <p>
                            e-mail,
                            <br>jméno a příjmení,
                            <br>jakékoli další údaje, které nám ve formuláři dobrovolně poskytnete
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">účel</h4>
                        <p>vyhodnocení nároku na udělení grantu pro účastníky Akce</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">doba zpracování</h4>
                        <p>do 1. 12. 2024</p>
                    </div>
                </div>

                <h3 class="pt-3 border-top">Účastníci Akce</h3>

                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">typy údajů</h4>
                        <p>e-mail, jméno a příjmení, jakékoli další údaje, které nám dobrovolně poskytnete při registraci vstupenky na Akci</p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">účel</h4>
                        <p>zasílání informací k akci, tisk visaček a vše další nutné pro realizaci Akce, zaslání žádosti o zpětnou vazbu po skončení Akce</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">doba zpracování</h4>
                        <p>do 1. 12. 2024</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h4 class="h5 my-1">typy údajů</h4>
                        <p>fotografie a obrazové nebo zvukové záznamy</p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="h5 my-1">účel</h4>
                        <p>propagace Akce na webových stránkách https://cz.pycon.org a v dalších médiích například, ale nejen, na https://youtube.com</p>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <h4 class="h5 my-1">doba zpracování</h4>
                        <p>neomezeně</p>
                    </div>
                </div>

                <p class="pt-3 border-top mb-1">Zpracování osobních údajů je prováděno Správcem. Osobní údaje budou dále zpracovávat:</p>
                <ul>
                    <li>Google Ireland Ltd, Gordon House Barrow Street Dublin 4, D04E5W5 Ireland</li>
                    <li>YouTube, LLC 901 Cherry Ave. San Bruno, CA 94066 USA</li>
                    <li>Mailchimp (The Rocket Science Group, LLC 675 Ponce de Leon Ave NE Suite 5000 Atlanta, GA 30308 USA)</li>
                    <li>rixx.de software development (Tobias Kunze, Mühlenbecker Weg 1, 16515 Oranienburg, Germany)</li>
                </ul>

                <p class="mb-1">Podle zákona máte právo:</p>
                <ul>
                    <li>vzít souhlas kdykoliv zpět,</li>
                    <li>požadovat po nás informaci, jaké vaše osobní údaje zpracováváme, požadovat po nás vysvětlení ohledně zpracování osobních údajů,</li>
                    <li>vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat nebo opravit,</li>
                    <li>požadovat po nás výmaz těchto osobních údajů,</li>
                    <li>v případě pochybností o dodržování povinností souvisejících se zpracováním osobních údajů obrátit se na nás nebo na Úřad pro ochranu osobních údajů.</li>
                </ul>
            </section>

        </div>
    </div>
{% endblock %}
