{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Schedule – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container-xs py-4 mt-3">
        <h1>Schedule (preliminary)</h1>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6">
                <p class="lead">
                    This is an overview of PyCon CZ 23 schedule. We will add talks and workshops later.
                    If you want to be notified please <a href="https://pycon.us4.list-manage.com/subscribe?u=6d66d8cf3a86d34aaa8e29799&id=54c2b80aeb">subscribe to our newsletter</a>.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <h2>Friday 15 September</h2>
                <p>Talk day at Gabriel Loci</p>

                <div class="rounded p-3 border border-black mb-3 bg-tertiary text-white"><b class="me-1">9:00</b> Doors open &amp; breakfast</div>
                <div class="rounded p-3 border border-black mb-3 bg-primary-subtle"><b class="me-1">10:00</b> Welcome to PyCon CZ 23</div>
                <div class="rounded p-3 py-4 border border-black mb-3 bg-secondary"><b class="me-1">10:15</b> Keynote</div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">11:00</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:10</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:10</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:10</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">11:40</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                </div>
                <div class="rounded p-3 border border-black mb-3 bg-tertiary text-white"><b class="me-1">12:20</b> Lunch</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">13:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">13:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">13:20</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">13:50</b> 10-minute break</div>
                <div class="rounded p-3 py-4 border border-black mb-3 bg-secondary"><b class="me-1">14:00</b> Keynote</div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">14:45</b> 15-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:00</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:00</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:00</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">15:30</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                </div>
                <div class="rounded p-3 border border-black mb-3"><b class="me-1">16:10</b> 30-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">16:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">16:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">16:40</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">17:10</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">17:50</b> 10-minute break</div>
                <div class="rounded p-3 border border-black mb-3 bg-secondary"><b class="me-1">18:00</b> Lightning talks (6 five-minute talks)</div>
                <div class="rounded p-3 border border-black mb-3 bg-primary text-white"><b class="me-1">19:00–23:00</b> Board Game Night</div>
            </div>

            <div class="col-lg">
                <h2>Saturday 16 September</h2>
                <p>Talk day at Gabriel Loci</p>

                <div class="rounded p-3 border border-black mb-3 bg-tertiary text-white"><b class="me-1">9:00</b> Doors open &amp; breakfast</div>
                <div class="rounded p-3 border border-black mb-3 bg-primary-subtle"><b class="me-1">10:00</b> Welcome to PyCon CZ 23</div>
                <div class="rounded p-3 py-4 border border-black mb-3 bg-secondary"><b class="me-1">10:15</b> Keynote</div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">11:00</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:10</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:10</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:10</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">11:40</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">11:40</b> Talk</div>
                </div>
                <div class="rounded p-3 border border-black mb-3 bg-tertiary text-white"><b class="me-1">12:20</b> Lunch</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">13:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">13:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">13:20</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">13:50</b> 10-minute break</div>
                <div class="rounded p-3 py-4 border border-black mb-3 bg-secondary"><b class="me-1">14:00</b> Keynote</div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">14:45</b> 15-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:00</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:00</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:00</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">15:30</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">15:40</b> Talk</div>
                </div>
                <div class="rounded p-3 border border-black mb-3"><b class="me-1">16:10</b> 30-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">16:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">16:40</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">16:40</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">17:10</b> 10-minute break</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">17:20</b> Talk</div>
                </div>
                <div class="rounded p-3 py-2 border border-black mb-3"><b class="me-1">17:50</b> 10-minute break</div>
                <div class="rounded p-3 border border-black mb-3 bg-secondary"><b class="me-1">18:00</b> Lightning talks (6 five-minute talks)</div>
                <div class="rounded p-3 border border-black mb-3 bg-primary text-white"><b class="me-1">19:00–03:00</b> Afterparty</div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg">
                <h2>Sunday 17 September</h2>
                <p>Workshop day at a university (will be specified)</p>
                <ul>
                    <li>Workshop’s capacity is limited.</li>
                    <li>Registration will open a week before the conference. All ticket holders will be notified by email before.</li>
                    <li>Workshops might be shorter than 3-hour slot they have available.</li>
                </ul>

                <div class="rounded p-3 border border-black mb-3 bg-tertiary text-white"><b class="me-1">9:00</b> Doors open &amp; breakfast</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #1 (first half)</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #2</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #3</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #4</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #5</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #6</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #7</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #8</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">10:00</b> Workshop #9</div>
                </div>
                <div class="rounded p-3 border border-black mb-3 bg-tertiary text-white"><b class="me-1">13:00</b> Lunch</div>
                <div class="d-flex flex-wrap column-gap-3">
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #1 (second half)</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #10</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #11</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #12</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #13</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #14</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #15</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #16</div>
                    <div class="rounded p-3 border border-black mb-3 bg-secondary flex-grow-1"><b class="me-1">14:00</b> Workshop #17</div>
                </div>
                <div class="rounded p-3 border border-black mb-3 bg-primary-subtle"><b class="me-1">17:00</b> The End</div>
            </div>
        </div>

    </div>
{% endblock %}
