{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Sponsorship – {{ block.super }}{% endblock %}


{% block og_image %}{% static 'img/social-media/sponsorship.min.jpg' %}{% endblock %}


{% block main %}
    <div class="container-xs pt-4 pb-3 mt-3">
        <h1>Sponsorship</h1>
        <div class="row align-items-end">
            <div class="col-md-8 col-lg-7">
                <div class="rounded-3 border border-black bg-tertiary bg-gradient text-white p-3 p-sm-4 pb-1 pb-sm-2 lead shadow">
                    <h2 class="mt-0">Value for your company</h2>
                    <p class="mb-2">Sponsoring PyCon CZ is a great way to</p>
                    <ul>
                        <li><b class="text-secondary">Support Python</b> and the open source ecosystem your company relies on.</li>
                        <li><b><span class="text-secondary">Recruit</span> developers, data analysts and testers</b>: talk to attendees looking for their next job.</li>
                        <li><b class="text-secondary">Promote your product</b>: attendees are curious people looking for new tools and ideas.</li>
                        <li><b>Show your current employees you care</b> about their favourite language and even make the event into an informal team-building experience for them.</li>
                        <li><b>Find collaborators and partners</b> for future development.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <h2>Contacts</h2>
                <p>
                    <b>Mr. Vojta Mádr</b>, Partnerships Lead – PyCon CZ 23 <br /><a href="mailto:sponsorship@pycon.cz">sponsorship@pycon.cz</a>
                    <br /><a href="tel:+420728944917">+420&nbsp;728&nbsp;944&nbsp;917</a>
                </p>
                <p>
                    <b>Mr. Daniel Srb</b>, Partnerships – PyCon CZ 23 <br /><a href="mailto:sponsorship@pycon.cz">sponsorship@pycon.cz</a>
                    <br /><a href="tel:+420777621900">+420&nbsp;777&nbsp;621&nbsp;900</a>
                </p>
                <a
                    class="btn btn-primary"
                    href="{% static 'pycon-cz-sponsorship-prospectus-2023.pdf' %}"
                    download="pycon-cz-sponsorship-prospectus-2023.pdf"
                >
                    Download sponsorship information (PDF)
                </a>

            </div>
        </div>

        <h2>Event summary</h2>
        <ul class="PC-multi-col">
            <li>Friday 15 September to Sunday 17 September 2023 in Prague</li>
            <li><strong>600 attendees (20% more than previous PyCon CZ)</strong></li>
            <li>professionals, students and hobbyist Pythonistas</li>
            <li>2 conference days with 3 tracks (one more than in the past) primarily in English including data track in cooperation with Czech PyData community</li>
            <li>1 day of workshops and sprints</li>
            <li>40+ diverse, local and international speakers</li>
            <li>Recorded talks available to watch later for everyone</li>
            <li>Part of talks & workshops is aimed at beginners</li>
            <li>Broad range of both technical and community topics</li>
            <li>Sponsor booths (Friday &amp; Saturday)</li>
            <li>Social events and an after party</li>
            <li>Organised by a community of volunteers</li>
            <li>Friendly and inclusive environment</li>
            <li>Food, coffee and tea provided on all 3 conference days</li>
            <li>Interesting venue in Prague: Gabriel Loci, a former monastery located 15 minutes from the city centre</li>
        </ul>


        <h2>Sponsorship packages</h2>

        <div class="row row-gap-5">
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-dark-subtle p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0">Bronze</h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">25,000 CZK</span> or
                        <span class="d-inline-block">1,050 EUR</span>
                    </p>
                    <p class="lead">This package includes:</p>
                    <p><b>2 tickets</b> for the conference
                        <small class="d-inline-block">(worth 3,600 CZK each)</small>
                    </p>
                    <p>Logo on the conference website</p>
                    <p>Logo on the intermission slide deck shown during breaks</p>
                    <p>Partner announced on the PyCon CZ official social media channels</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-secondary p-3 p-sm-4 pb-1 pb-sm-2 bg-secondary-subtle">
                    <h3 class="mt-0">
                        Silver
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">50,000 CZK</span> or
                        <span class="d-inline-block">2,100 EUR</span>
                    </p>
                    <p class="lead">Everything in Bronze plus:</p>
                    <p>
                        2 more tickets to the <b>total of 4</b>
                        <small class="d-inline-block">(worth 3,600 CZK each)</small>
                    </p>
                    <p>Roll-up at the venue</p>
                    <p>Welcome package insert / promotions for attendees</p>
                    <p>One promotional post retweet / reshare on PyCon CZ official social media channels</p>
                    <p>Standard booth at the venue available as an option (see options below)</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-primary p-3 p-sm-4 pb-1 pb-sm-2 bg-primary-subtle">
                    <h3 class="mt-0">
                        Gold
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">100,000 CZK</span> or
                        <span class="d-inline-block">4,150 EUR</span>
                    </p>
                    <p class="lead">Everything in Silver plus:</p>
                    <p>
                        4 more tickets to the <b>total of 8</b>
                        <small class="d-inline-block">(worth 3,600 CZK each)</small>
                    </p>
                    <p>One more welcome package insert to the total of 2</p>
                    <p>One more promotional post retweet / reshare social media to the total of 2</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-tertiary p-3 p-sm-4 pb-1 pb-sm-2 bg-tertiary bg-gradient text-white">
                    <h3 class="mt-0">
                        Platinum
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">200,000 CZK</span> or
                        <span class="d-inline-block">8,300 EUR</span>
                    </p>
                    <p class="lead">Everything in Gold plus:</p>
                    <p><b>A large booth at the venue included in the price of the package</b></p>
                    <p>
                        8 more tickets to the <b>total of 16</b>
                        <small class="d-inline-block">(worth 3,600 CZK each)</small>
                    </p>
                    <p>One more welcome package insert to the total of 3</p>
                    <p>One more promotional post retweet / reshare social media to the total of 3</p>

                </div>
            </div>

        </div>


        <h2>Custom options (add‑ons)</h2>

        <p class="lead">Available for Silver, Gold and Platinum packages only.</p>

        <div class="row row-gap-5">

            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-dark-subtle bg-opacity-10 bg-dark p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0">
                        Venue Booth
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">20,000 CZK</span> or
                        <span class="d-inline-block">840 EUR</span>
                    </p>
                    <p class="lead">Booth at the venue (max. 1.5 m × 2 m)</p>
                    <p><b>Includes 3 full tickets</b> to the conference (for booth staff or for use at your discretion)</p>
                    <p><i>Available with Gold / Silver only (Platinum has a larger booth included)</i></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-dark-subtle bg-opacity-10 bg-dark p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0">
                        Lanyard
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">30,000 CZK</span> or
                        <span class="d-inline-block">1,250 EUR</span>
                    </p>
                    <p class="h5 mt-0 text-primary">exclusive:<br>only one available</p>
                    <p class="lead">Partner logo on the lanyard that everybody will be wearing</p>
                    <p>Lanyards will have only one Partner logo printed + logo of PyCon CZ</p>
                    <p>Package available only until 22 August.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-dark-subtle bg-opacity-10 bg-dark p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0">
                        Childcare
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">10,000 CZK</span> or
                        <span class="d-inline-block">420 EUR</span>
                    </p>
                    <p class="h5 mt-0 text-primary">exclusive:<br>only one available</p>
                    <p class="lead">You will help us to acquire professional childcare providers</p>
                    <p>Every information (website, newsletter, on-site) about Childcare will include partner’s name</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-dark-subtle bg-opacity-50 bg-dark p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0 text-decoration-line-through">
                        Coffee
                    </h3>
                    <p class="h5 mt-0 text-secondary">already taken</p>

                    <p class="lead">Helping to cover the cost of the coffee at PyCon CZ</p>
                    <p>Coffee booth branded with partner’s logo (e.g. roll-up or banner that the partner provides)</p>
                    <p>Option to brand cups (at partner’s cost)</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-dark-subtle bg-opacity-10 bg-dark p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0">
                        Afterparty Drinks
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">60,000 CZK</span> or
                        <span class="d-inline-block">2,500 EUR</span>
                    </p>
                    <p class="h5 mt-0 text-primary">exclusive:<br>only one available</p>
                    <p class="lead">Sponsoring the cost of drinks (soft drinks, beer and wine) at the afterparty</p>
                    <p>Partner’s logo on information posters during the party</p>
                    <p>Option to brand cups (at partner’s cost)</p>
                    <p>Host will mention the partner when inviting attendees to the party</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="h-100 rounded-3 border border-dark-subtle bg-opacity-10 bg-dark p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0">
                        Custom sponsorship
                    </h3>
                    <p class="h4 mt-0">
                        <span class="d-inline-block">starting from 10,000 CZK</span> or
                        <span class="d-inline-block">420 EUR</span>
                    </p>
                    <p class="lead mb-2">A few ideas:</p>
                    <ul>
                        <li>Ice cream cart sponsor</li>
                        <li>Host a quiz or competition or donate prizes</li>
                        <li>Diversity sponsor – pay for free tickets for a target demographic</li>
                        <li>Event sponsor (board game night, workshop that requires specialised hardware, etc.)</li>
                        <li>Your idea! We’re open to anything interesting and fun…</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="h-100 rounded-3 border border-dark-subtle bg-opacity-10 bg-dark p-3 p-sm-4 pb-1 pb-sm-2">
                    <h3 class="mt-0">
                        Non-financial sponsorship
                    </h3>
                    <p class="lead">Your sponsorship doesn’t have to be financial: you can provide a service or goods directly to PyCon CZ attendees and get extra visibility.</p>
                </div>
            </div>
        </div>

        <p class="my-5">
            <a
                class="btn btn-lg btn-primary"
                href="{% static 'pycon-cz-sponsorship-prospectus-2023.pdf' %}"
                download="pycon-cz-sponsorship-prospectus-2023.pdf"
            >
                Download all sponsorship information (PDF)
            </a>
        </p>

        <h2>Contacts</h2>
        <p>
            <b>Mr. Vojta Mádr</b>, Partnerships Lead – PyCon CZ 23 <br /><a href="mailto:sponsorship@pycon.cz">sponsorship@pycon.cz</a>
            <br /><a href="tel:+420728944917">+420&nbsp;728&nbsp;944&nbsp;917</a>
        </p>
        <p>
            <b>Mr. Daniel Srb</b>, Partnerships – PyCon CZ 23 <br /><a href="mailto:sponsorship@pycon.cz">sponsorship@pycon.cz</a>
            <br /><a href="tel:+420777621900">+420&nbsp;777&nbsp;621&nbsp;900</a>
        </p>
    </div>
{% endblock %}
