{% extends '_layout.html' %}

{% load static %}


{% block meta_title %}Venue – {{ block.super }}{% endblock %}


{% block main %}
    <div class="container-xs py-4 mt-3">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6">
                <h1>Conference venues</h1>
                <p class="lead">
                    PyCon CZ 23 will take place at two separate venues: the first two days with talks (Friday and Saturday) will take place at Gabriel Loci and the workshop day will be held at one of Prague’s universities.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Gabriel Loci – Talks venue</h2>
                <p class="lead">Our main venue is a former monastery re-made into a unique event space.</p>
                <p>All events on Friday and Saturday September 15–16 will happen here. This includes talks, the Board Game Night and the Afterparty.</p>

                <p>Situated near the picturesque Kinsky Garden in the center of Prague, Gabriel Loci is a Neo-Romanesque complex built as a convent in the late 19th century. It includes intriguing spaces like The Garden of Eden – a spacious hall with a spectacular glass ceiling, or the Church of the Annunciation with beautiful paintings. The complex features artistic decoration in the style of the Beuron Art School, founded by a confederation of Benedictine monks in Germany.</p>

                <h3>Getting there</h3>
                <p>
                    Address: Holečkova 10, 150 00 Prague 5 – Smíchov
                    <br>GPS: 50.0748753N, 14.3960653E
                    <br><a href="https://www.google.com/maps/place/Gabriel+Loci/@50.0746203,14.3951977,17z/data=!4m6!3m5!1s0x470b94ffe90d8bef:0xe44f072ee3ed8c90!8m2!3d50.0749021!4d14.3960143!16s%2Fg%2F1226s9f3">Gabriel Loci on Google Maps</a>
                </p>

                <h4>Public transport</h4>
                <p>The venue is just a 6-minute walk from the tram stop Bertramka, though it’s a bit of a steep climb. You can get there using trams number 9, 10, 15, and 16. We recommend taking the bus 176, however, as the walk isn’t as steep.</p>

                <p>Alternatively, you can take the yellow metro B line to Anděl and walk from there (around 12 minutes.)</p>

                <h4>City bikes</h4>
                <p>The closest Nextbike stand is available at Plzeňská in front of the Green Point. The closest Rekola stand is at na Zatlance and next to Hotel Ibis at Plzeňská.</p>

                <h4>Car parking</h4>
                <p>You can park along the street Švedská in the purple zone. Parallel to Holečkova there is Grafická Street with another purple zone. Make sure to pay the parking fee using the machine or use the MPLA app (Google, Apple). Read about parking zones in Prague.</p>

                <h3>Accessibility</h3>
                <p>We are very sorry but there are accessibility limitations at Gabriel Loci given its age and state. We will make our best to make it more accessible for the event and will publish a page with many more details soon. Meanwhile feel free to <a href="mailto:info@pycon.cz">drop as an e-mail</a> if you have any questions about accessibility.</p>
            </div>

            <div class="col-md">
                <h2>Workshops venue</h2>
                <p class="lead">All workshops on Sunday, September 17 will be held at a university in Prague. The exact place will be specified as soon as it’s confirmed.</p>

                <h3>Accessibility</h3>
                <p>This will be a modern building that is fully accessible.</p>
            </div>

        </div>
    </div>
{% endblock %}
