{% load markdown %}
{% load static %}

<div class="PC-intermission-content">
    {% if announcements %}
        <div class="mt-4">
            {% for announcement in announcements %}
                <div class="PC-intermission-announcement display-{{ announcement.size }} px-2 py-5">
                    {{ announcement.message|markdown }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="d-flex h-100 pb-5">
            <img class="pc-img-fluid-svg w-100" src="{% static 'img/logo-pycon-23.min.svg' %}" alt="">
        </div>
    {% endif %}
</div>
