{% extends '_base.html' %}


{% load static %}


{% block meta_title %}Intermissions – {{ block.super }}{% endblock %}


{% block body_extras %}style="overflow:hidden;"{% endblock %}

{# Disable Simple Analytics #}
{% block analytics %}
{% endblock %}


{% block body %}
    <main role="main" class="pc-intermission" id="intermission-content"></main>
{% endblock %}


{% block after_scripts_loaded %}
    <script>
        "use strict";
        const urls = [
            '{% url 'announcements' %}',
            '{% url 'next_talk' page=1 %}{{ time_param }}',
            '{% url 'next_talk' page=2 %}{{ time_param }}',
            '{% url 'slido' %}',
            {% if 'platinum' in levels %}
                '{% url 'sponsors' level='platinum' %}',
                '{% url 'announcements' %}',
                '{% url 'next_talk' page=1 %}{{ time_param }}',
                '{% url 'next_talk' page=2 %}{{ time_param }}',
                '{% url 'slido' %}',
            {% endif %}
            {% if 'gold' in levels %}'{% url 'sponsors' level='gold' %}',{% endif %}
            {% if 'silver' in levels %}'{% url 'sponsors' level='silver' %}',{% endif %}
            '{% url 'announcements' %}',
            '{% url 'next_talk' page=1 %}{{ time_param }}',
            '{% url 'next_talk' page=2 %}{{ time_param }}',
            '{% url 'slido' %}',
            {% if 'bronze' in levels %}'{% url 'sponsors' level='bronze' %}',{% endif %}
            {% if 'partners' in levels %}'{% url 'sponsors' level='partners' %}',{% endif %}
        ];

        console.groupCollapsed(
            'Intermissions: ' + urls.length + ' slides available, full cycle takes ' + (urls.length * {{ interval }} / 1000) + ' s'
        );
        console.table(urls);
        console.groupEnd();

        let now = -1;
        let active = true;
        const show_current = () => {
            console.debug("[%d] %s", now, urls[now]);
            fetch(urls[now]).then((response) => response.text()).then((data) => {
                document.getElementById('intermission-content').innerHTML = data;
            });
        };
        const next = () => {
            now++;
            if (now >= urls.length) now = 0;
            show_current();
        };
        const prev = () => {
            now--;
            if (now < 0) now = urls.length - 1;
            show_current();
        };
        const run = () => {
            if (active) next();
            setTimeout(run, {{interval}});
        };
        run();

        const handle_keydown = (event) => {
            if (["ArrowDown", "ArrowLeft", "PageDown"].includes(event.key)){
                active = false;
                prev();
            }
            if (["ArrowUp", "ArrowRight", "PageUp"].includes(event.key)){
                active = false;
                next();
            }
            if (event.key === ' '){
                active = !active;
                show_current();
            }
            if (event.key === 'f'){
                document.documentElement.requestFullscreen();
            }
        };
        document.addEventListener("keydown", handle_keydown, false);
    </script>

{% endblock %}
