{% extends '_base.html' %}


{% load static %}


{% block meta_title %}Intermissions – {{ block.super }}{% endblock %}


{% block body_extras %}style="overflow:hidden;"{% endblock %}


{% block body %}
    <main role="main" class="pc-intermission" id="intermission-content"></main>
{% endblock %}


{% block after_scripts_loaded %}
    <script>
        "use strict";
        const urls = [
            '{% url 'announcements' %}',
            '{% url 'slido' %}',
            {% if 'platinum' in levels %}'{% url 'sponsors' level='platinum' %}',{% endif %}
            '{% url 'announcements' %}',
            '{% url 'slido' %}',
            {% if 'gold' in levels %}'{% url 'sponsors' level='gold' %}',{% endif %}
            {% if 'silver' in levels %}'{% url 'sponsors' level='silver' %}',{% endif %}
            '{% url 'announcements' %}',
            '{% url 'slido' %}',
            {% if 'bronze' in levels %}'{% url 'sponsors' level='bronze' %}',{% endif %}
            {% if 'partners' in levels %}'{% url 'sponsors' level='partners' %}',{% endif %}
        ];

        let now = -1;
        let active = true;
        const show_current = () => {
            fetch(urls[now]).then((response) => response.text()).then((data) => {
                document.getElementById('intermission-content').innerHTML = data;
            });
        };
        const next = () => {
            now++;
            if (now >= urls.length) now = 0;
            show_current();
        };
        const prev = () => {
            now--;
            if (now < 0) now = urls.length - 1;
            show_current();
        };
        const run = () => {
            if (active) next();
            setTimeout(run, {{interval}});
        };
        run();

        const handle_keydown = (event) => {
            if (["ArrowDown", "ArrowLeft", "PageDown"].includes(event.key)){
                active = false;
                next();
            }
            if (["ArrowUp", "ArrowRight", "PageUp"].includes(event.key)){
                active = false;
                prev();
            }
            if ([" "].includes(event.key)){
                active = true;
                show_current();
            }
        };
        document.addEventListener("keydown", handle_keydown, false);
    </script>

{% endblock %}
