{% load static %}
<div class="pc-intermission-content">
    <div class="d-flex flex-wrap h-100 align-content-around pb-7">
        <div class="PC-intermission-slots">
            {% for slot in slots %}
            <div class="PC-intermission-slots-item" style="grid-column: {{ forloop.counter }}">
                <h1 class="fw-normal{% if slots|length == 1 %} dis{% endif %}">
                    Next up in
                    <strong>{{ slot.room }}</strong>
                    from
                    <strong>{{ slot.start|date:"H:i" }}</strong>
                    {% if streamed %}
                        <span class="text-muted">
                            (streamed to other rooms)
                        </span>
                    {% endif %}
                </h1>

                <h2>{{ slot.event.title }}</h2>

                {% if slot.event.language == 'cs' %}
                    <p class="PC-language">
                        <img src="{% static 'img/flag-cz.svg' %}" width="32" height="32" alt="">
                        <span class="PC-language-label">
                            this
                            {% if slot.event.type == 'panel' and slot.event.speakers|length == 1 %}
                                discussion
                            {% else %}
                                {{ slot.event.type }}
                            {% endif %}
                            will be in Czech only
                        </span>
                    </p>
                {% endif %}

                <p class="PC-intermission-speakers">
                    {% for speaker in slot.event.speakers %}{% if forloop.last and not forloop.first %} <span class="d-inline-block">&amp; {% elif not forloop.first %},</span> <span class="d-inline-block">{% endif %}{% spaceless %}{{ speaker.full_name }}{% if forloop.last %}</span>{% endif %}{% endspaceless %}{% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
