{% load markdown %}

<div class="PC-intermission-content">
    <div class="d-flex flex-wrap h-100 align-content-around pb-6">
        <p class="display-1 text-center w-100 fw-semibold">
            Ask speakers on <strong class="fw-bold">slido.com</strong><br>
            with&nbsp;hashtag&nbsp;<strong class="fw-bold">#pyconcz</strong>&nbsp;💬️
        </p>
        <p class="display-1 text-center w-100 fw-semibold">
            Join conference attendee Discord 👋️
            <br>
            <strong class="fw-bold text-decoration-underline">cz.pycon.org/2023/discord</strong>
        </p>
    </div>
</div>
