{% load markdown %}
{% load static %}


<article class="
        PC-sessions-session
        PC-sessions-session-l-{{ session.talk_speakers.all|length }}
        PC-sessions-session-l-{{ session.workshop_speakers.all|length }}
        shadow rounded border border-black border-2
    ">
    <div class="PC-sessions-photos rounded-top">
        {% for speaker in session.talk_speakers.all %}
            <div class="PC-sessions-photo">
                <div class="position-relative">
                    <div class="PC-image-primary">
                        <img class="img-fluid" src="{{ speaker.photo.url }}" width="300" height="300" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for speaker in session.workshop_speakers.all %}
            <div class="PC-sessions-photo">
                <div class="position-relative">
                    <div class="PC-image-primary">
                        <img class="img-fluid" src="{{ speaker.photo.url }}" width="300" height="300" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="PC-sessions-text p-3">
        <h3 class="h5 mt-0">{{ session.title }}</h3>
        <p>
            {% for speaker in session.talk_speakers.all %}
                <span class="d-inline-block">{{ speaker.full_name }}</span>{% if forloop.revcounter0 %},{% endif %}
            {% endfor %}
            {% for speaker in session.workshop_speakers.all %}
                <span class="d-inline-block">{{ speaker.full_name }}</span>{% if forloop.revcounter0 %},{% endif %}
            {% endfor %}
        </p>
        {% comment %}{{ session.title|length }}{% endcomment %}
        {% comment %}{% if session.language == 'cs' %} :flag_cz: {% endif %}{% endcomment %}
        {% comment %}order:                    {{ session.order|pprint }}{% endcomment %}
        {% comment %}minimum_python_knowledge: {{ session.minimum_python_knowledge|pprint }}{% endcomment %}
        {% comment %}minimum_topic_knowledge:  {{ session.minimum_topic_knowledge|pprint }}{% endcomment %}
        {% comment %}{{ session.abstract|render_markdown }}{% endcomment %}
    </div>
    {% comment %}<a {% block detail_link %} href="{% url 'session_detail' type=session.type session_id=session.id %}#main" {% endblock %}></a>{% endcomment %}
</article>
