{% extends '_layout.html' %}


{% load formatting %}
{% load static %}



{% block main %}
    <div class="container-xs pt-4 pb-3 mt-3">

        <h1>{% block speakers_title %}{% endblock %}</h1>

        {% block top_info %}
            <p class="lead"><b>More details will be announced soon.</b></p>

            <div class="d-sm-none pt-2">
                <div class="btn-group-vertical">
                    <a class="btn btn-light" href="#general">General</a>
                    <a class="btn btn-light" href="#pydata">PyData</a>
                    <a class="btn btn-light" href="#beginners">Beginners</a>
                </div>
            </div>

            <div class="d-none d-sm-block sticky-md-top pt-2">
                <div class="btn-group">
                    <a class="btn btn-light" href="#general">General</a>
                    <a class="btn btn-light" href="#pydata">PyData</a>
                    <a class="btn btn-light" href="#beginners">Beginners</a>
                </div>
            </div>

            {% comment %}{% if more_to_come %}{% endif %}{% endcomment %}
        {% endblock %}

        {% regroup sessions|dictsort:'track' by track as session_list %}

        <div class="pt-6 mt-n4" id="general">
            <h2 class="mt-0">General</h2>
            <div class="row g-4 align-items-stretch align-content-stretch row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                {% for session in session_list.1.list|dictsortreversed:'order' %}
                    {% include 'program/__session.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="pt-6 mt-n4" id="pydata">
            <h2 class="mt-0">PyData</h2>
            <div class="row g-4 align-items-stretch align-content-stretch row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                {% for session in session_list.2.list|dictsortreversed:'order' %}
                    {% include 'program/__session.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="pt-6 mt-n4" id="beginners">
            <h2 class="mt-0">Beginners</h2>
            <div class="row g-4 align-items-stretch align-content-stretch row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                {% for session in session_list.0.list|dictsortreversed:'order' %}
                    {% include 'program/__session.html' %}
                {% endfor %}
            </div>
        </div>

        {% comment %}{% if more_to_come %}
                <div class="card pc-session-list bg-primary pc-box-shadow-dark">
                    <a>
                        <div class="pc-session-list-speaker d-flex flex-column justify-content-between">
                            <h2 class="card-title pc-session-list-list-heading">
                                That’s not all!
                            </h2>
                            <p class="card-text font-weight-bold">
                                We have more {% block more_sessions_name %}sessions{% endblock %} to&nbsp;be&nbsp;announced
                            </p>
                        </div>
                    </a>
                    <div class="embed-responsive embed-responsive-1by1"></div>
                </div>
            {% endif %}{% endcomment %}

        <!-- {% block other_sessions %}
            <div class="my-5">
                <a href="{{ other_session_url }}" class="btn btn-lg btn-primary">
                    See our {{ other_session_name }}
                </a>
            </div>
        {% endblock %} -->
    </div>

{% endblock %}
