{% extends '_layout.html' %}


{% load markdown %}
{% load static %}


{% block meta_title %}Schedule: {{ schedule_date|date:"l j F" }} – {{ block.super }}{% endblock %}


{% block header-bg-class %}{% endblock %}


{% block body_extras %}class="PC-bg-header PC-bg-header-extra"{% endblock %}


{% block main %}
    <div class="text-white">
        <div class="container-xs pb-6">
            <h1>Schedule</h1>

            <div class="d-sm-none pt-2 mb-2">
                <div class="btn-group-vertical">
                    {% include 'program/__day_menu.html' %}
                </div>
            </div>

            <div class="d-none d-sm-block sticky-md-top pt-2 mb-4">
                <div class="btn-group">
                    {% include 'program/__day_menu.html' %}
                </div>
            </div>

            {% if current_day == 'sunday' %}
                <p class="lead mb-2">
                    Workshop day at FIT ČVUT
                </p>
                <ul class="mb-5">
                    <li>Workshop’s capacity is limited</li>
                    <li>Registration will open on Tuesday 12 September at 15:00</li>
                    <li>Workshops might be shorter than 3-hour slot they have available</li>
                </ul>
            {% else %}
                <p class="lead mb-4">Talk day at Gabriel Loci</p>
            {% endif %}

            <div class="PC-schedule PC-schedule-{{ current_day }}">
                {% for row in grid.rows %}
                    {% for item in row.items %}
                        <div class="PC-schedule-item PC-schedule-item-type-{{ item.type }}"
                             style="grid-area: {{ item.grid_area }}">

                            <div class="PC-schedule-timeplace">
                                {{ row.time|date:"G:i" }}
                                {% if not item.is_multi_room %}<b>{{ item.slot.room.label }}</b>{% endif %}
                            </div>

                            <div class="PC-schedule-session">

                                <h3 class="PC-schedule-item-title pe-4">
                                    {% if item.slot.event.get_absolute_url %}
                                        <a class="stretched-link {% if item.type == 'utility' %}link-light{% endif %}"
                                           href="{{ item.slot.event.get_absolute_url }}">
                                            {{ item.slot.event }}
                                        </a>
                                    {% else %}
                                        {{ item.slot.event }}
                                    {% endif %}
                                </h3>

                                {% if item.slot.event.description %}
                                    <div class="PC-schedule-description">
                                        {{ item.slot.event.description|markdown }}
                                    </div>
                                {% endif %}


                                {% if item.slot.event.speakers %}
                                    <div class="PC-schedule-item-speakers">
                                        <div class="mb-1
                                            {% if item.slot.event.speakers|length > 1 %}
                                                d-flex
                                            {% else %}
                                                d-inline-flex me-2
                                            {% endif %}
                                            ">
                                            {% for speaker in item.slot.event.speakers %}
                                                <div class="PC-schedule-photo">
                                                    <div class="position-relative">
                                                        <div class="PC-image-primary">
                                                            <img class="img-fluid" src="{{ speaker.photo.url }}" width="48" height="48" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% for speaker in item.slot.event.speakers %}{% if forloop.last and not forloop.first %} <span class="d-inline-block">&amp; {% elif not forloop.first %},</span> <span class="d-inline-block">{% endif %}{% spaceless %}{{ speaker.full_name }}{% if forloop.last %}</span>{% endif %}{% endspaceless %}{% endfor %}
                                    </div>
                                {% endif %}
                                {% if item.is_streamed %}
                                    <div class="{% if not item.slot.event.speakers %}mt-3{% endif %}">
                                        streamed to other rooms
                                    </div>
                                {% endif %}


                                <div class="PC-language PC-language-sessions d-flex flex-column gap-2">
                                    {% if item.slot.event.track == 'beginners' %}
                                        <img
                                                src="{% static 'img/icons/beginner.min.svg' %}"
                                                width="24" height="24"
                                                alt="Beginner’s track"
                                                class=""
                                        >
                                    {% endif %}
                                    {% if item.slot.event.track == 'pydata' %}
                                        <img
                                                src="{% static 'img/icons/pydata.min.svg' %}"
                                                width="24" height="24"
                                                alt="PyData track"
                                                class=""
                                        >
                                    {% endif %}
                                    {% if item.slot.event.language == 'cs' %}
                                        <img
                                                src="{% static 'img/flag-cz.svg' %}"
                                                width="24" height="24"
                                                alt="only in Czech"
                                                class=""
                                        >
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
