{% extends '_layout.html' %}


{% load markdown %}
{% load static %}


{% block meta_title %}Schedule: {{ schedule_date|date:"l j F" }} – {{ block.super }}{% endblock %}

{% block main %}
    <div class="container-xs pt-4 pb-3 mt-3">
        <h1>
            Schedule:
            {{ schedule_date|date:"l j F" }}
        </h1>

        <ul class="nav nav-pills mb-5">
            {% for day, date in all_days.items %}
                <a class="nav-link{% if day == current_day %} active{% endif %}" {% if day != current_day %}href="{% url "program:schedule_day" day %}"{% endif %}>
                    {{ date|date:"l j F" }}
                </a>
            {% endfor %}
        </ul>

        <div class="PC-schedule">
            {% for col in grid.columns %}
                <div class="PC-schedule-grid-room text-center p-2 fw-bold" style="grid-area: {{ col.grid_area }}">
                    {{ col.room.label }}
                </div>
            {% endfor %}

            {% for row in grid.rows %}
                <div class="PC-schedule-time text-start text-lg-end pt-3 border-top fw-semibold" style="grid-area: {{ row.time_grid_area }}">
                    {{ row.time|date:"H:i" }}
                </div>

                {% for item in row.items %}
                    <div class="PC-schedule-item PC-schedule-item-type-{{ item.type }} rounded-2 border border-black p-3"
                         style="grid-area: {{ item.grid_area }}">

                        {% if item.is_streamed or not item.is_multi_room %}
                        <div class="PC-schedule-item-room">
                            <strong>{{ item.slot.room.label }}</strong>
                            {% if item.is_streamed %}
                                and streamed to other rooms
                            {% endif %}
                        </div>
                        {% endif %}

                        <div class="PC-schedule-item-title">
                            {% if item.slot.event.get_absolute_url %}
                                <a href="{{ item.slot.event.get_absolute_url }}">
                                    {{ item.slot.event }}
                                </a>
                            {% else %}
                                {{ item.slot.event }}
                            {% endif %}
                        </div>

                        {% if item.slot.event.speakers %}
                            <p class="PC-schedule-item-speakers">
                                {% for speaker in item.slot.event.speakers %}
                                    <span class="d-inline-block">{{ speaker.full_name }}</span>{% if forloop.revcounter0 %},{% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
