---

---

<footer class="pc-footer bg-black text-light">
  <div class="container-md pt-5 pb-3">
    <div class="row no-gutters align-items-baseline">
      <div class="col-md-6 text-uppercase mb-3">
        <nav class="nav pc-footer__nav flex-md-column">
          <a class="nav-link" href="/2015/">PyCon&nbsp;CZ 2015</a>
          <a class="nav-link" href="/2016/">PyCon&nbsp;CZ 2016</a>
          <a class="nav-link" href="/2017/">PyCon&nbsp;CZ 2017</a>
          <a class="nav-link" href="/2018/">PyCon&nbsp;CZ 2018</a>
          <a class="nav-link" href="/2019/">PyCon&nbsp;CZ 2019</a>
          <a class="nav-link" href="/2020/">PyCon&nbsp;CZ 2020</a>
          <a class="nav-link" href="/2023/">PyCon&nbsp;CZ 2023</a>
        </nav>
      </div>

      <div class="col-md-6 mb-3">
        <nav class="nav pc-footer__nav flex-md-column mb-3">
          <a class="nav-link" rel="me" href="https://x.com/pyconcz">X (formerly Twitter)</a>
          <a class="nav-link" rel="me" href="https://floss.social/@pyconcz">Mastodon</a>
          <a class="nav-link" rel="me" href="https://www.facebook.com/events/1363197064240927">Facebook</a>
          <a class="nav-link" rel="me" href="https://www.youtube.com/@PyConCZ">YouTube</a>
          <a class="nav-link" rel="me" href="https://github.com/pyvec/cz.pycon.org">GitHub</a>
        </nav>

        <p class="mx-3">
          Do you have any questions?
          <a href="mailto:info@pycon.cz">Contact&nbsp;us!</a>
        </p>
      </div>
    </div>

    <p class="text-md-center mt-4">
      <a href="https://www.python.org/psf/trademarks/pycon/">PyCon</a>™ is a&nbsp;trademark for worldwide conference
      activities claimed by the
      <a href="https://www.python.org/psf-landing/">Python Software Foundation</a> and used with permission.
      <br />
      <a href="https://pydata.org/">PyData</a> is an educational program of <a href="https://numfocus.org/">NumFOCUS</a>
    </p>
  </div>
</footer>
