{% extends '_base.html' %}

{% load static %}


{% block body %}

    {% block top %}
        <div class="PC-header text-white pt-3 pb-4">

            <div class="container">

                {% include '_menu_top.html' %}

                <header>
                    {% block header %}
                        <div class="d-flex flex-column flex-md-row column-gap-6 row-gap-3 justify-content-md-center align-items-md-center mt-4 mb-3">
                            <a href="{% url 'homepage' %}">
                                <img
                                    class="img-fluid"
                                    src="{% static 'img/logo-pycon-23.min.svg' %}"
                                    alt="PyCon CZ"
                                    width="500"
                                >
                            </a>
                            <div>

                                <h1 class="mt-0 mb-3">
                                    PyCon CZ 23
                                    <br>15–17 September
                                    <br>Prague
                                </h1>
                                {% block header_action %}{% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </header>
            </div>
        </div>
    {% endblock %}


    <main class="container pt-4 mt-3">
        {% block main %}{% endblock %}
    </main>

    <footer class="bg-black text-light mt-3 ">
        <div class="container px-2 pt-5 pb-3">

            <div class="row no-gutters align-items-baseline">

                {% include '_menu_footer.html' %}

                <div class="col-xs-6 col-sm-4 col-md col-lg-3 mb-3 text-uppercase">
                    <div class="nav flex-md-column">
                        <a class="nav-link link-light" href="/2015/">PyCon&nbsp;CZ 2015</a>
                        <a class="nav-link link-light" href="/2016/">PyCon&nbsp;CZ 2016</a>
                        <a class="nav-link link-light" href="/2017/">PyCon&nbsp;CZ 2017</a>
                        <a class="nav-link link-light" href="/2018/">PyCon&nbsp;CZ 2018</a>
                        <a class="nav-link link-light" href="/2019/">PyCon&nbsp;CZ 2019</a>
                        <a class="nav-link link-light" href="/2020/">PyCon&nbsp;CZ 2020</a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm col-md col-lg-3 mb-3">
                    <div class="nav flex-md-column mb-3">
                        <a class="nav-link link-light" href="https://twitter.com/pyconcz">Twitter</a>
                        <a class="nav-link link-light" href="https://www.facebook.com/events/2070764789904992/">Facebook</a>
                        <a class="nav-link link-light" href="https://www.youtube.com/channel/UCRC2Vu7p4SJxhhuRdl8rQ6g">YouTube</a>
                        <a class="nav-link link-light" href="https://github.com/pyvec/cz.pycon.org">GitHub</a>
                        {# <a class="nav-link link-light" href="https://www.instagram.com/pyconcz/">Instagram</a>#}
                    </div>
                    <p class="mx-3">
                        Do you have any questions?
                        <a class="link-light" href="mailto:info@pycon.cz">Contact&nbsp;us!</a>
                    </p>
                </div>

            </div>

            <p class="text-lg-center mt-4">
                <a class="link-light" href="https://www.python.org/psf/trademarks/pycon/">PyCon</a>™
                is a&nbsp;trademark for worldwide conference activities claimed by the
                <a class="link-light" href="https://www.python.org/psf-landing/">Python Software Foundation</a> and used with permission.
            </p>
        </div>
    </footer>
{% endblock %}
