/*

Customize RFS (Responsive Font Sizes) here

more info:
https://getbootstrap.com/docs/5.3/getting-started/rfs/
https://github.com/twbs/rfs/
*/

// Base value
// $rfs-base-value: 1.25rem; // 1.25rem
// $rfs-unit: rem; // rem

// Breakpoint at where values start decreasing if screen width is smaller
$rfs-breakpoint: map-get($grid-breakpoints, lg); // 1200px
// $rfs-breakpoint-unit: px; // px

// Resize values based on screen height and width
// $rfs-two-dimensional: false; // false

// Factor of decrease
// $rfs-factor: 10; // 10

// Mode. Possibilities: "min-media-query", "max-media-query"
// $rfs-mode: min-media-query; // query

// Generate enable or disable classes. Possibilities: false, "enable" or "disable"
// $rfs-class: false; // false

// 1 rem = $rfs-rem-value px
// $rfs-rem-value: 16; // 16

// Safari iframe resize bug: https://github.com/twbs/rfs/issues/14
// $rfs-safari-iframe-resize-bug-fix: false; // false

// Disable RFS by setting $enable-rfs to false
// $enable-rfs: true; // true
