::selection {
    background-color: $secondary;
    color: $blue;
}

li {
    margin-bottom: map-get($spacers, 2);
}

.btn {
    border-color: $black;
    box-shadow: $box-shadow;
}

.btn:hover {
    border-color: $black;
}

.btn-primary {
    color: $white;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: $secondary;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: $primary;
    color: $white;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: $secondary;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
    margin-top: map-get($spacers, 5);
    word-spacing: -0.2ch;

    & + & {
        margin-top: map-get($spacers, 4);
    }
}

.PC-header {
    background-color: #0007ad;
    background-image: url(/static/img/noise.svg), url(/static/img/header-bg.svg);
    background-size: 96px, 100%;
    background-position: 50% 0;
    background-repeat: repeat, no-repeat;
    background-blend-mode: soft-light, normal;
    position: relative;

    @include media-breakpoint-up(md) {
        background-image: url(/static/img/noise.svg), url(/static/img/header-bg-animated.svg);
    }
}

@-moz-document url-prefix() {
    .PC-header {
        background-image: url(/static/img/noise.svg), url(/static/img/header-bg-ff.svg);
    }
}

nav .PC-nav-link-highlight {
    padding-left: 2.5 * $navbar-nav-link-padding-x;
    padding-right: 2.5 * $navbar-nav-link-padding-x;
    background-repeat: no-repeat;
    background-position: 5px 50%, right 5px top 50%;
    background-size: 11px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 13'><g stroke='#{rgba($navbar-dark-active-color, 0.999999)}' stroke-width='1'><path d='M0 6.5h8' transform='rotate(18, 20, 7)' /><path d='M0 6.5h8' /><path d='M0 6.5h8' transform='rotate(-18, 20, 7)' /></g></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 13'><g stroke='#{rgba($navbar-dark-active-color, 0.999999)}' stroke-width='1' transform='scale(-1, 1)  translate(-9,0)'><path d='M0 6.5h8' transform='rotate(18, 20, 7)' /><path d='M0 6.5h8' /><path d='M0 6.5h8' transform='rotate(-18, 20, 7)' /></g></svg>");
}

.PC-multi-col {
    column-width: 40ch;
    column-gap: $grid-gutter-width;
}

ul {
    list-style-type: "— ";
}

.PC-bg-blurry {
    background-color: #030CD0;
    background-image: url(/static/img/noise.svg), url(/static/img/blurry-bg.svg);
    background-size: 96px, 3300px 3100px;
    background-position: 50% -500px;
    background-repeat: repeat, no-repeat;
    background-blend-mode: soft-light, normal;
    position: relative;

    //min-height: 100vh;

}

.PC-fig-space::before {
    content: " ";
}

.PC-bg-noise {
    background-image: url(/static/img/noise.svg);
    background-size: 96px;
}

.PC-keynoter {
    overflow: hidden;

    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        &:nth-child(odd) .row {
            flex-direction: row-reverse;
        }
    }

    background-color: transparent;
    background-position: 0 0;
    background-size: 96px, 100%;
    background-repeat: repeat, no-repeat;
    background-blend-mode: soft-light, normal;

    background-image: url(/static/img/noise.svg), radial-gradient(farthest-corner at 100% 0%, $primary, $white 80%);

    @include media-breakpoint-up(md) {
        background-image: url(/static/img/noise.svg), radial-gradient(farthest-corner at 0% 100%, $primary, $white 60%);
        &:nth-child(odd) {
            background-image: url(/static/img/noise.svg), radial-gradient(farthest-corner at 100% 100%, $primary, $white 60%);
        }
    }

    p {
        max-width: 60ch;
    }

}

.PC-image-primary {
    width: 100%;
    height: 100%;
    display: block;

    &::before {
        background-color: $primary;
        mix-blend-mode: screen;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &::after {
        background-image: url(/static/img/noise.svg);
        background-size: 96px;
        mix-blend-mode: overlay;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 60vh;

        @include media-breakpoint-up(md) {
            max-height: 100%;
        }
    }

}

.PC-sessions {
    /*display: flex;*/
    //flex-wrap:wrap;

    //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    //grid-auto-rows: minmax(60px, 1fr);

}

.PC-sessions-session {
    overflow: hidden;


    /*&-l-1 {
        background: lime;
        grid-column: span 2;
    }

    &-l-2 {
        background: orange;
        grid-column: span 3;
    }

    &-l-3 {
        background-color: red;
        grid-column: span 4;
    }

    &-l-4 {
        background: black;
        grid-column: span 5;
    }*/



}
