@font-face {
    font-family: "ChivoMono";
    src: url("/static/fonts/chivo-mono.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChivoMono";
    src: url("/static/fonts/chivo-mono-italic.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
