---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Volunteer">
  <h1>🐍 Join the Crew: Volunteers wanted for PyCon CZ!</h1>

  <p>
    The Python community is built by people like you, and we’re looking for a team of enthusiastic volunteers to help us
    make this year’s <strong>PyCon CZ</strong> the best one yet!
  </p>
  <p>
    Whether you are a seasoned Pythonista or just starting your journey, volunteering is a fantastic way to go behind
    the scenes, meet the community, and contribute to the vibe of the conference.
  </p>

  <h2>How you can help</h2>

  <p>We have various roles available depending on your interests and skills:</p>

  <ul>
    <li>
      <strong>Registration & Info Desk:</strong> Be the first friendly face attendees see and help them navigate the event.
    </li>
    <li>
      <strong>Session Hosting:</strong> Introduce speakers and moderate Q&A sessions to keep the talks running smoothly.
    </li>
    <li>
      <strong>Venue Support:</strong> Help us manage the flow of the crowds and keep the lecture halls organized.
    </li>
    <li>
      <strong>Technical Assistance:</strong> Provide a hand with AV equipment or general tech troubleshooting.
    </li>
    <li>
      <strong>Manual & General Help:</strong> Support with the "heavy lifting"—from setting up booths to distributing swag.
    </li>
    <li>and more…</li>
  </ul>

  <h2>Why join us?</h2>

  <p>
    Besides our eternal gratitude, you’ll get to experience the conference from a unique perspective, network with
    speakers and sponsors, and—of course—grab some exclusive volunteer perks.
  </p>

  <h3>Ready to help?</h3>

  <a class="btn btn-lg btn-primary" href="https://forms.gle/5Lnw5mzs7Rv6hoBbA">Volunteer registration form</a>

  <h3>Do you have some questions?</h3>

  <p>
    Contact us by email: <strong>Barbora Hůlová</strong>, <a href="mailto:hulovaba@seznam.cz">hulovaba@seznam.cz</a>
  </p>

  <p>Let’s build something great together!</p>
</Layout>
